<div class="drag-drop-view-container">
    <item-adder [placeholder]="ITEM_ADDER_PLACEHOLDER" (addItem)="addToDo($event)"></item-adder>
    <p>To-Dos:
        <button (click)="onRefresh()" class="float-right">
            Aktualisieren
        </button>
        <button
            *ngIf="toDoListIsEinkaufsliste()"
            class="float-right"
            (click)="openFavouriteEinkaufItemsDialog()"
        >
            <fa-icon [icon]="faHeart"></fa-icon>
        </button>
    </p>
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <div
            *ngFor="let toDo of getToDosInReverseOrder()"
            class="box-item"
            [ngClass]="styleMarkedToDos(toDo)"
            (click)="onClickToDo(toDo)"
            (mousedown)="onMouseDown()"
            (mouseup)="onMouseUp()"
            cdkDrag
        >
            {{toDo.name}}
            <delete-button (delete)="deleteToDo(toDo)"></delete-button>
        </div>
    </div>
</div>
<p *ngIf="dragging">Dragging</p>