<div class="drag-drop-view-container">
    <item-adder [placeholder]="ITEM_ADDER_PLACEHOLDER" (addItem)="addToDo($event)"></item-adder>
    <p>To-Dos:
        <button (click)="onRefresh()" class="float-right">Aktualisieren</button>
    </p>
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="box-item" *ngFor="let toDo of toDos" cdkDrag>
            {{toDo.name}}
            <button (click)="deleteToDoItem(toDo)">
                x
            </button>
        </div>
    </div>
</div>