<spinner-overlay></spinner-overlay>
<mat-sidenav-container>
    <mat-sidenav position="end" [(opened)]="sideNavOpened">
        <to-do-list-selection *ngIf="sideNavOpened" (selectToDoList)="onSelectToDoList($event)"></to-do-list-selection>
    </mat-sidenav>
    <mat-sidenav-content>
        <p>{{ listTitle }}
            <button class="float-right" (click)="openSideNav()">
                <fa-icon [icon]="faBars"></fa-icon>
            </button>
        </p>
        <div *ngIf="selectedToDoList">
            <to-do-list [selectedToDoList]="selectedToDoList"></to-do-list>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>