.list-title {
    font-size: 24px;
    overflow: hidden;
    margin-top: 16px;
    margin-bottom: 16px;
}

.to-do-list-selection-button {
    font-size: 28px;
    height: 28px;
    background-color: transparent;
    border: none
}

mat-sidenav {
    width: 260px;
}
