<div class="page-content-container">
    <item-adder [placeholder]="ITEM_ADDER_PLACEHOLDER" (addItem)="addToDo($event)"></item-adder>
    <div class="button-panel">
        <button (click)="onRefresh()" class="float-right">
            Aktualisieren
        </button>
        <button
            *ngIf="toDoListIsEinkaufsliste()"
            class="float-right"
            (click)="openFavouriteEinkaufItemsDialog()"
        >
            <fa-icon [icon]="faHeart"></fa-icon>
        </button>
    </div>
    <drag-drop-list
        [toDos]="toDos"
        (prioritizationChanged)="onPriorizationChanged($event)"
        (toDoDeleted)="onToDoDeleted($event)"
    >
    </drag-drop-list>
</div>