<p>Wähle die gewünschten Artikel aus und klicke auf "Hinzufügen":</p>
<div class="list-container">
    <div
        class="box-item"
        (click)="onClickItem(item)"
        [ngClass]="styleSelectedItems(item)"
        *ngFor="let item of items"
    >
        {{item}}
    </div>
</div>
<div
    class="button-container"
>
    <button
        class="dialog-button"
        (click)="onAddItems()"
    >
        Hinzufügen
    </button>
    <button
        class="dialog-button"
        (click)="onCancel()"
    >
        Abbrechen
    </button>
</div>
