/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

:root {
  --background-color: #f1f1f1;
  --secondary-background-color: #ffffff;
  --text-color: black;
  --secondary-text-color: #455454;
  --happy-color: #d2d2d3;
  --danger-color: #d10000;
}

* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--text-color);
}

button {
  margin-right: 0.5em;
}

.box-item {
  padding: 10px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.float-right {
  float: right;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  background-color: black;
  opacity: 0.5;
}
