/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

:root {
  --background-color: #f1f1f1;
  --secondary-background-color: #ebebeb;
  --text-color: black;
  --border-color: #b3c2c2;
  --highlight-color: #d2d2d3;
}

* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--text-color);
}

body {
  margin: 0.5em;
}

button {
  height: 2.5em;
  min-width: 2.5em;
  background-color: var(--secondary-background-color);
  border-radius: 2px;
  padding: 0px 6px;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
}

input {
  height: 2.5em;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  padding: 0.5em;
  box-sizing: border-box;
}

button + button {
  margin-right: 0.5em;
}

.box-item {
  padding: 10px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.float-right {
  float: right;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  background-color: black;
  opacity: 0.5;
}

.error-snackbar {
  background-color: red;
}
